In [1]:
import numpy as np
import pandas as pd

In [29]:
url = 'https://voteview.com/static/data/out/members/H119_members.csv'
ideaology = pd.read_csv(url)
ideaology.head(3).T

,0,1,2
congress,119,119,119
chamber,House,House,House
icpsr,20301,21102,21500
state_icpsr,41,41,41
district_code,3,7,6
state_abbrev,AL,AL,AL
party_code,200,100,200
occupancy,NaN,NaN,NaN
last_means,NaN,NaN,NaN
bioname,"ROGERS, Mike Dennis","SEWELL, Terri","PALMER, Gary James"
bioguide_id,R000575,S001185,P000609
born,1958.0,1965.0,1954.0
died,NaN,NaN,NaN
nominate_dim1,0.378,-0.399,0.674
nominate_dim2,0.379,0.392,0.113
nominate_log_likelihood,-2.44007,-15.14432,-20.39998
nominate_geo_mean_probability,0.98834,0.92945,0.90784
nominate_number_of_votes,208.0,207.0,211.0
nominate_number_of_errors,0.0,8.0,13.0
conditional,NaN,NaN,NaN
nokken_poole_dim1,0.346,-0.306,0.471
nokken_poole_dim2,0.633,0.236,-0.231

In [30]:
cols_to_keep = ['bioname', 'chamber', 'party_code', 'nominate_dim1']
crosswalk_cols = ['bioname', 'icpsr', 'state_abbrev', 'district_code', 'bioguide_id']

crosswalk = ideaology[crosswalk_cols]
ideaology = ideaology[cols_to_keep]
ideaology['party_code'].value_counts()

party_code
200    224
100    219
Name: count, dtype: int64

In [31]:
replace_map = {200: 'Republican', 100: 'Democrat'}
ideaology['party'] = ideaology['party_code'].replace(replace_map)
ideaology['party'].value_counts()

party
Republican    224
Democrat      219
Name: count, dtype: int64

In [32]:
ideaology = ideaology.drop('party_code', axis=1)
ideaology = ideaology.rename({'nominate_dim1': 'left_right_ideology'}, axis=1)
ideaology.sort_values('left_right_ideology', ascending=False)

                  bioname chamber  left_right_ideology       party
398         GILL, Brandon   House                0.981  Republican
296         HARRIGAN, Pat   House                0.979  Republican
116           FINE, Randy   House                0.901  Republican
129       MCCORMICK, Rich   House                0.891  Republican
433       MOORE, Riley M.   House                0.877  Republican
..                    ...     ...                  ...         ...
429        RANDALL, Emily   House               -0.680    Democrat
401     TURNER, Sylvester   House               -0.746    Democrat
381        GARCIA, Sylvia   House               -0.781    Democrat
66        SIMON, Lateefah   House               -0.938    Democrat
420  WALKINSHAW, James R.   House                  NaN    Democrat

[443 rows x 4 columns]

In [33]:
ideaology_crosswalk = pd.merge(ideaology, crosswalk, on='bioname')
ideaology_crosswalk.query('state_abbrev == "VA" & district_code == 5')

,bioname,chamber,left_right_ideology,party,icpsr,state_abbrev,district_code,bioguide_id
417,"MCGUIRE, John J., III",House,0.681,Republican,22539,VA,5,M001239